<div class="settings">

    <a class="settings-back -cursor-pointer" ng-click="$ctrl.back()" title="{{$ctrl.lang.backtitle}}">
        <i class="fa fa-chevron-left" aria-hidden="true"></i> {{$ctrl.lang.back}}
    </a>

    <h3 class="settings-title">{{$ctrl.lang.settings}}</h3>

    <form class="settings-form" ng-submit="$ctrl.saveSettings()">
        <div class="form-group">
            <label for="settings-title">{{$ctrl.lang.title}}:</label>
            <input type="text" class="form-control" placeholder="{{$ctrl.lang.title}}..." name="settings-title" id="settings-title" ng-model="$ctrl.settings.title"
                required>
            <small id="title-help" class="form-text text-muted">{{$ctrl.lang.titlehelp}}.</small>
        </div>

        <div class="form-group">
            <label for="settings-title">{{$ctrl.lang.language}}:</label>
            <select class="form-control" name="settings-language" id="settings-language" ng-model="$ctrl.settings.language" ng-change="$ctrl.showReload = true">
                                        <option ng-repeat="l in $ctrl.languages" value="{{l.short}}">{{l.full}}</option>
                                    </select>
            <small id="language-help" class="form-text text-muted">{{$ctrl.lang.languagehelp}}.</small>
        </div>

        <div class="form-group">
            <label for="settings-title">{{$ctrl.lang.dateformat}}:</label>
            <input type="text" class="form-control" placeholder="{{$ctrl.lang.dateformat}}..." name="settings-dateformat" id="settings-dateformat"
                ng-model="$ctrl.settings.dateformat" required>
            <small id="dateformat-help" class="form-text text-muted">{{$ctrl.lang.dateformathelp}}. <a target="_blank" href="https://code.angularjs.org/1.6.4/docs/api/ng/filter/date">{{$ctrl.lang.help}}</a></small>
        </div>

        <div class="form-group">
            <label for="settings-timezone">{{$ctrl.lang.timezone}}:</label>
            <div ng-include="'./timezones.html'"></div>
            <small id="timezone-help" class="form-text text-muted">{{$ctrl.lang.timezonehelp}}.</small>
        </div>

        <button type="submit" class="btn btn-primary" id="submit-btn"><i class="fa fa-floppy-o" aria-hidden="true"></i> {{$ctrl.lang.save}}</button>
        <label for="submit-btn" class="reload" ng-show="$ctrl.showReload">Please reload the page after saving!</label>
    </form>

</div>
